<!DOCTYPE html>
{% extends 'base.html' %} 

{% block title %}
    Register Page
{% endblock title %} 
{% block content %}
<body class="text-center">    
    <div class="container">
        <img class="mb-4" src="https://images.unsplash.com/photo-1561049958-dfec7585efeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="ram_unsplash">
        <h1 class="h3 mb-3 font-weight-normal">
            Please Create your Account
        </h1>
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="User name")}} 
            {{ form.email_adress.label }}
            {{ form.email_adress(class="form-control", placeholder="Email")}} 
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="PASSWORD")}} 
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control", placeholder="PASSWORD")}} 
            <br> 
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
    {% endblock content %} 