<!DOCTYPE html>
{% extends 'base.html' %} 

{% block title %}
    Register Page
{% endblock title %} 
{% block content %}
<body class="text-center">    
    <div class="container">
        <img class="mb-2" src="https://images.unsplash.com/photo-1542505424716-58b2902677e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="ram_unsplash">
        <h1 class="h3 mb-1 font-weight-normal">
            Please Create your Account
        </h1>
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="User name")}} 
            {{ form.email_adress.label }}
            {{ form.email_adress(class="form-control", placeholder="Email")}} 
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="PASSWORD")}} 
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control", placeholder="PASSWORD")}} 
            <div class="checkbox mb-1">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Login</a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
    {% endblock content %} 